*{
    margin: 0;      
    padding: 0%;
    font-family: 'Orelega One', cursive;
    }
    
    html,body{
        height: 150%;
    
    }
    
    .parent{
        display: flex;
    }
    
    .sidebar{
        width: 20%;
        height: 100%;
        position: fixed;
        background-color: #ffa600;
    }
    
    .sidebar-pos{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .img-sidebar{
        text-align: center;
    }
    
    .img-sidebar img{
        width: 80%;
        border: 4px solid;
        border-radius: 50%;
        border-color: #ffba3b;
    }
    
    .menu{
        margin: 20px 0;
        text-align: center;
    }
    
    .menu a{
        color: white;
        opacity: 0.6;
        font-size: 19px;
        display: block;
        margin-bottom: 20px;
        text-decoration: none;
    }
    
    .menu a.selected{
        opacity: 1;
    }
    
    .content{
        position: absolute;
        left: 20%;
        width: 80%;
        height: 100%;
        overflow-y: auto;
        padding: 0 3%;
    }
    
    section.Descrição{
    position: relative;
    margin-top: 300px;
    transform: translateY(-50%);
    }
    
    .Descrição h2{
        color: black;
        font-size: 46px;
    }
    
    .Descrição h2 > span{
        color: #ffa600;
    }
    
    .Descrição h3{
        margin: 15px o;
        color: rgb(83, 45, 14);
        font-size: 26px;
    }
    
    .Descrição p{
        font-size: 18px;
        margin-top: 40px;
        color: rgb(83, 45, 14);
    }
    
    .Educação{
        margin-top: 200px;
    }
    
    .Educação h2{
        font-size: 46px;
    }
    
    .Educação h3{
        font-size: 30px;
        color: rgb(83, 45, 14);
    }
    
    .Educação p{
        color: rgb(83, 45, 14);
        font-size: 20px;
    }
    
    .Experiencia{
        position: relative;
        margin-top: 400px;
        margin-left: 155px;
    }
    
    .Experiencia h2{
        font-size: 46px;
    }
    
    .Experiencia h3{
        font-size: 30px;
        color:rgb(83, 45, 14);
    }
    
    .icons-social{
        margin-top: 20px;
    }
    
    .icons-social a{
        text-decoration: none;
        color: white;
        background-color: gray;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: inline-block;
        margin: 0 10px;
        text-align: center;
    }
    
    .icons-social i{
        line-height: 40px;
    }

    .Créditos{
        background-color: dimgrey;
        margin-top: 1000px;
        margin-left: 155px;
    }

    .Créditos h2{
        text-decoration: none;
        color: #ffa600;
        margin-left: 155px;
        }

    .Créditos h3{
        text-decoration: none;
        color: rgb(83, 45, 14);
        margin-left: 155px;
    }
